/* UTILS: variables, mixins, function */
/* BASE: font, typologie, box-sizing */
.body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
}
.body__menu {
  font-weight: 100;
  margin: 0;
}

.bloc-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 375px;
}

.footer__heading, h1 {
  font-family: "Shrikhand", sans-serif;
}

.thin {
  font-weight: 100;
}

/* COMPONENTS: buttons */
.button {
  margin: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  color: #FFF;
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border: none;
  background-size: 200%;
  background-image: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
.button:hover {
  opacity: 0.9;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.btn {
  margin: 10px 0;
  width: 90vw;
  min-width: 330px;
  padding: 30px 4rem 30px 0;
  border: none;
  font-size: 15px;
  border-radius: 25px;
  background: #F4F4F4;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.btn i {
  padding-right: 25px;
  font-size: 1.5rem;
  color: #8c8c8c;
}
.btn:hover {
  background-color: #f1e6ff;
}
.btn:hover:hover i {
  color: #9356DC;
}

/* LAYOUT: container, form, nav, header, footer*/
.container {
  background: #F4F4F4;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header__logo {
  width: 100%;
  padding: 13px 0;
  background: #FFF;
}
.header__loc {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
  background: #dbdbdb;
}
.header__loc--city {
  background: #dbdbdb;
  border: none;
  font-size: 15px;
  margin-left: 1.1rem;
}
.header__loc--city:focus {
  outline: none;
  border: 2px solid #9356DC;
  border-radius: 3px;
}
.header a {
  font-size: 18px;
  align-self: flex-start;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
}

.footer {
  background-color: #292929;
  color: #FFF;
  padding-left: 20px;
  font-weight: 500;
}
.footer__byline {
  margin-top: 0;
  margin-bottom: 5px;
}
.footer__icone {
  margin-right: 10px;
  font-size: 15px;
}
.footer__icone--space {
  margin-right: 15px;
}
.footer__contact {
  margin-bottom: 20px;
  font-style: normal;
}
.footer__contact a {
  text-decoration: none;
  color: #FFF;
}

/* PAGES: menus, card*/
.present {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu__restaurants {
  width: 100%;
}
.menu__heading {
  margin-left: 15px;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu__choice {
  background: #FFF;
  order: -1;
}
.menu__list {
  padding-left: 25px;
}
.menu__items {
  list-style-type: none;
  position: relative;
}
.menu__items--numbers {
  display: inline-flex;
  padding: 5px 9px;
  margin-left: 1.4em;
  background: #9356DC;
  border-radius: 2rem;
  font-size: 13px;
  color: #FFF;
  position: absolute;
  bottom: 2.4rem;
  left: -2.1rem;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
  .menu__heading {
    margin-left: 2.1rem;
  }
  .menu__list {
    padding-left: 30px;
  }
}

.card {
  width: 90vw;
  min-width: 345px;
  margin: 0 20px 15px 15px;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  position: relative;
}
.card__new {
  background: #99E2D0;
  color: #278870;
  padding: 8px 15px;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__img {
  height: 180px;
  object-fit: cover;
  object-position: bottom;
  border-radius: 1rem 1rem 0 0;
}
.card__img--center {
  object-position: center;
}
.card__caption {
  padding-left: 15px;
}
.card__heading {
  margin-bottom: 0;
}
.card__byline {
  margin-top: 5px;
}
.card__icone {
  align-self: flex-end;
  position: absolute;
  bottom: 30px;
  right: 16px;
  font-size: 21px;
}
.card__icone:active > .fa-heart, .card__icone:hover > .fa-heart {
  animation: filling 1s ease-in-out 50ms both;
  cursor: pointer;
}
@keyframes filling {
  0% {
    font-weight: 900;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-clip-path: circle(10% at 40% 100%);
  }
  100% {
    font-weight: 900;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-clip-path: circle(75%);
  }
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
  .card {
    margin: 0 auto 15px;
  }
  .card__img {
    height: 200px;
    object-position: center;
  }
}

/*page des menus*/
.container-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 377px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
.container-menu__img {
  width: 100vw;
  min-width: 377px;
  height: 60vh;
  object-fit: cover;
}
.container-menu__card {
  display: flex;
  flex-direction: column;
  background: #F4F4F4;
  z-index: 1;
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
}
.container-menu__heading {
  justify-content: space-around;
  display: inline-flex;
  font-size: 1.6rem;
  align-items: center;
  font-weight: 100;
}
.container-menu__button {
  width: 150px;
  align-self: center;
  animation: 1s ease-in-out 3s both fadein;
}
.article__heading {
  font-weight: 100;
  margin-left: 13px;
  font-size: 1.17rem;
}
.article__heading--underline {
  border-bottom: 3px solid #99E2D0;
}
.article__dishes {
  display: grid;
  grid-template-columns: 1fr 15%;
  grid-template-rows: repeat(2, 50%);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #FFF;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article__dishes p {
  margin: 0;
}
.article__dishes h3 {
  font-size: 1.15rem;
  margin: 0;
}
.article__dishes--bottom {
  grid-column-start: 1;
  font-size: 15px;
  padding-top: 5px;
  font-weight: 100;
}
.article__dishes--ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s linear;
}
.article__dishes--slide-in {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0 10px 10px 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 64px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.article__dishes--slide-in > p {
  padding-top: 24px;
}
.article__dishes--slide-in #check {
  background: #99E2D0;
  transform: translateX(20px);
  width: 70%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.article__dishes--slide-in #check > .fa-check-circle {
  font-size: 23px;
  color: #FFF;
}
.article__dishes:active .article__dishes--slide-in {
  width: 32%;
}
.article__dishes:active .article__dishes--ellipsis {
  width: 73%;
  text-overflow: ellipsis;
}
.article__dishes:active #check > .fa-check-circle {
  animation: spin 0.5s linear forwards;
}
@media only screen and (min-width: 480px) and (max-width: 780px) {
  .article {
    width: 95%;
    align-self: center;
  }
  .article__dishes--slide-in {
    width: 10%;
  }
  .article #check {
    transform: translate(46px);
    width: 80%;
  }
  .article__dishes:active.article__dishes--slide-in {
    width: 25%;
  }
  .article__dishes:active #check {
    transform: translateX(20px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.article__starter {
  animation: 2s ease-in-out fadein;
}

.article__main-course {
  animation: 1s ease-in-out 1s both fadein;
}

.article__desserts {
  animation: 1s ease-in-out 2s both fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*animation, loading-spinner*/
#heartfill {
  display: none;
}

.container-menu__icone:hover > .fa-heart {
  animation: filling-menu 1s ease-in-out 100ms forwards;
  cursor: pointer;
}
@keyframes filling-menu {
  0% {
    font-weight: 900;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-clip-path: circle(30% at 40% 100%);
    clip-path: circle(30% at 40% 100%);
  }
  100% {
    font-weight: 900;
    background: linear-gradient(0deg, #9356DC, #FF79DA);
    background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-clip-path: circle(75%);
    clip-path: circle(75%);
  }
}

#heartfill:checked ~ * .container-menu__icone > .fa-heart,
#heartfill:checked ~ * .card__icone > .fa-heart {
  display: inline-block;
  font-weight: 900;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background: -webkit-linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s;
}

.loading-spinner {
  height: 7rem;
  width: 7rem;
  position: absolute;
  left: 35%;
  right: 0;
  top: 35%;
  display: inline-block;
  border: 4px solid #bc95e9;
  border-radius: 50%;
  border-top-color: #9356DC;
  animation: spin-load 1s ease-in-out infinite;
  z-index: -1;
}

@keyframes spin-load {
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
