.button{
    @include btn;
    font-size: $size;
    transition: box-shadow 0.5s ease-in-out;
    &:hover{
        opacity: 0.9;  
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    }
}



.btn{
    margin: 10px 0;
    width: 90vw;
    min-width: 290px;
    max-width: 800px;
    padding: 30px 4rem 30px 1rem;
    @include border;
    font-size: $size;
    border-radius: 25px;
    background: $colour-bloc;
    box-shadow: $box-shadow;
    cursor: pointer;
    i{
        padding-right: 25px;
        font-size: 1.5rem;
        color: darken($colour-white, 45%);
    }
    &:hover{
        background-color: pastel($colour-primary);
        &:hover i{
            color: $colour-primary;
        }
    }
    @media (min-width: map-get($breakpoints, min-tab)) and (max-width: map-get($breakpoints, tablette)){
        width: 80vw;
        & i{
            padding-right: 22px;
            font-size: 1.4rem;
        }
    }
    @media (min-width: map-get($breakpoints, desktop)){
        width: 80vw;
        & i{
            padding-right: 22px;
            font-size: 1.4rem;
        }
    }
}