.present{
    padding: $size;
    @include flexbox;
    align-items: center;
    text-align: center;
}

.menu{
    @include flexbox;
    &__restaurants{
    width: 100%;
    }
    &__heading{
        margin-left: $size;
    }
    & a{
        text-decoration: none;
        color: darken($colour-white, 100%);
    }
    &__choice{
        background: $colour-white;
        order: -1;
    }
    &__list{
        padding-left: 25px;
    }
    &__items{
        list-style-type: none;
        position: relative;
        &--numbers{
            display: inline-flex;
            padding: 5px 9px;
            margin-left: 1.4em;
            background: $colour-primary;
            border-radius: 2rem;
            font-size: 13px;
            color: $colour-white;
            position: absolute;
            bottom: 2.4rem;
            left: -2.1rem;
        }
    }
    @media screen and (min-width: map-get($breakpoints, min-mobile)) and (max-width: map-get($breakpoints, g-mobile)) {
        &__list{
            padding-left: 30px;
        }
         
    }
    @media (min-width: map-get($breakpoints, min-tab)) and (max-width: map-get($breakpoints, tablette)){
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        &__choice{
            width: 100%;
        }
        &__list{
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            padding-left: 0;
        }
        &__items{
            &--numbers{
                margin-left: 0;
                bottom: 2.3rem;
                left: -1rem;
            }
        }
    }
    @media (min-width: map-get($breakpoints, desktop)){
        &__container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
        &__choice{
            width: 100%;
        }
        &__list{
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100vw;
            padding-left: 0;
        }
        &__items{
            &--numbers{
                margin-left: 0;
                bottom: 2.3rem;
                left: -1rem;
            }
        }
    }

}